{% extends "launcher/launcher_skelton.html" %}

{% block title %}ライブ - 鉄空小娘ライブカメラ{% endblock title %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>{# 2011/09/09 by kuma35 defer つけたら動かなくなったので外した #}
<script>
$(function(){
  cameraPanTilt = function(selecter, cmd) {
    $(selecter).click(
      function() {
        $(selecter).attr("disabled", "disabled")
        $.ajax({
        type: "GET",
        url: "/launcher/ctrl/"+cmd,
        data: {},
        dataType: "json",
        success: function(response) {
          $(selecter).removeAttr("disabled")
        }
      })
    })
  }
  cameraPanTilt('#launcher_tilt_up', 'u')
  cameraPanTilt('#launcher_tilt_down', 'd')
  cameraPanTilt('#launcher_pan_left', 'l')
  cameraPanTilt('#launcher_pan_right', 'r')
  cameraPanTilt('#launcher_center', 'c')
  cameraPanTilt('#launcher_reset', 'reset')
})
</script>
{% endblock javascript %}
{% block body %}
<!-- {{ msg }} -->
<table>
<tr>
<td valign="top">
<table>
 <tr>
  <td>
   {# <input type="button"/> #}
  </td>
  <td align="center">
   <input type="button" name="up" value="up" id="launcher_tilt_up"/>
  </td>
  <td>
   {# <input type="button"/> #}
  </td>
 </tr>
 <tr>
  <td>
   <input type="button" name="left" value="left" id="launcher_pan_left"/>
  </td>
  <td>
   {# <input type="button"/> #}
  </td>
  <td>
   <input type="button" name="right" value="right" id="launcher_pan_right"/>
  </td>
 </tr>
 <tr>
  <td>
   {# <input type="button"/> #}
  </td>
  <td>
   <input type="button" name="down" value="down" id="launcher_tilt_down"/>
  </td>
  <td>
   {# <input type="button"/> #}
  </td>
 </tr>
</table>
<input type="button" name="center" value="center" id="launcher_center" title="最大旋回してから真ん中まで戻り、最大仰角してから仰角真ん中まで戻る" />
<input type="button" name="reset" value="reset" id="launcher_reset" title="一番左に回して仰角最小にする"/>
<p>
※反応遅いよ?
</p>
{# <dt><strong>reset</strong></dt><dd>初期位置に戻す</dd> #}
{# <dt><strong>center</strong></dt><dt>中心を求め、中心へ振る</dd> #}
{# </dl> #}
</td>
<td>
{% if is_motion_jpeg %}
<img src="/stream/?action=stream"/>
{% else %}
<applet code="com.charliemouse.cambozola.Viewer" archive="/stream/cambozola.jar" width="{{ width }}" height="{{ height }}">
  <param name="url" value="/stream/?action=stream"/>
  <param name="accessorystyle" value="overlay"/>
  <param name="width" value="{{ width }}"/>
  <param name="height" value="{{ height }}"/>
</applet>
{% endif %}
</td>
</tr>
</table>
{% endblock body %}


