{% extends "launcher_skelton.html" %}

{% block title %}鉄空小娘ライブカメラ{% endblock title %}
{% block body %}
<p>{{ msg }}</p>
<h1>鉄空小娘ライブカメラ</h1>
<h1>メニュー</h1>
<h2><a href="{% url 'live' %}">ライブを見る(カメラの向きを変える)</a></h2>
<p>ライブを閲覧します。また、カメラを左右方向上下方向に振る事ができます。</p>
<h2><a href="/stream/?action=snapshot" target="_blank">スナップショット(別窓)</a></h2>
<p>現時点でのスナップショット(JPEG画像)を別窓で開きます</p>
<p>保存したいときはブラウザで「名前を付けて保存」等して下さい。</p>
{# <h2><a href="{% url 'snapshot2' %}" target="_blank">Camera2スナップショット(臨時)</a></h2> #}
{# <h2><a href="/cam2/?action=snapshot" target="_blank">Camera2スナップショット(臨時)</a></h2> #}
</dl>
<h1>注意</h1>
<ol>
<li>ミサイル発射は未だできません</li>
<li>また、メンテナンス・改良等の為予告なく停止することがあります。</li>
<li>衣装替え等の為準備中の事があります。</li>
</ol>
{% endblock body %}
