<!DOCTYPE html>
{% load i18n %}
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ section.title }}{% endblock title %}</title>
{% block javascript %}{% endblock javascript %}
</head>
<body>
<nav>
<a href="{% url 'top' %}">TOP</a>&nbsp;|&nbsp;<a href="{% url 'live' %}">ライブを見る(カメラの向きを変える)</a>&nbsp;|&nbsp;<a href="/stream/?action=snapshot" target="_blank">スナップショット(別窓)</a>
</nav>
<hr>
{% block body %}
nothing contents.
(for site admin,  please check django template extend)
{% endblock body %}
<hr>
<div align="right"><p>site administrator sindobook@gmail.com</p></div>
</body>
</html>



